.container {
  display: flex;
  justify-content: space-between;
}

.calculator-container {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.output-screen {
  background-color: #a4a09d;
  text-align: end;
  padding: 20px;
}

.numbers-container {
  border-collapse: collapse;
  width: 100%;
}

.numbers td {
  border: 1px solid #d9d6d6;
  text-align: center;
}

.orangeBg {
  background-color: #ea833d;
}

button {
  border: unset;
  background-color: transparent;
  padding: 20px;
}

.calcBody {
  width: 60%;
  position: relative;
  min-width: 230px;
}
.width40pr {
  width: 40%;
}